// Colors
body {
    font-family: 'Hanken Grotesk'!important;
}

:root {
    --font-family: 'Hanken Grotesk'!important;
}

$--bs-border-radius: .5rem;
// Body
$body-bg: #F8F9FA;
$--bs-body-bg: #F8F9FA;
$body-color: #666666;

$header-bg: #FFFFFF;
$footer-bg: #FFFFFF;
$card-bg: #FFFFFF;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$badge-font-weight: 600;

$danger: #ce011f;
$gray-100: #666666;
$dark: #666666;
$primary: #ce011f;
$secondary: #00723d;
$secondary-light: #a3e0c4;
$text-muted: #ABB0CE;
$blue: #214295;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #00723d;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$bg-light: #EAECF5;
$success: #00723d;
$warning: #f6993f;

$border-dashed-color: $gray-100 !default;
:root {
    --bs-body-font-weight: 500 !important;
}

html, body {
    background-color: $body-bg;
}
