// Colors
body {
    font-family: 'Hanken Grotesk';
}
:root {
    --font-family: 'Hanken Grotesk';
}

// Body
$body-bg: #F8F9FA;
$--bs-body-bg: #F8F9FA;
$body-color: #60668E;

$header-bg: #FFFFFF;
$footer-bg: #FFFFFF;
$card-bg: #FFFFFF;

html, body {
    background-color: $body-bg;
}

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$danger: #B42318;
$gray-100: #464B6C;
$dark: #444969;
$primary: #D46370;
$secondary: #EB717F;
$secondary-light: #FFF4F5;
$text-muted: #ABB0CE;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;

$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$bg-light: #EAECF5;

$border-dashed-color: $gray-100 !default;
:root {
    --bs-body-font-weight: 500!important;
}
